 <div class="table-responsive table_modify_for_all">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Speciality Name</th>
                        <th>Category</th>
                        <th>Approve</th><th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in speciality_obj %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name | capfirst }}</td>
                            <td>{{ i.category.name }}</td>
                            <td>{{ i.approve }}</td>
                            <td>{{ i.createdAt }}</td>
                            <td>{{ i.updatedAt }}</td>

                            <td><a class="text_white" href="{% url 'speciality_edit' i.id %}"><i
                                    class="fa fa-edit"></i></a><span class="p_lr_10">|</span>{% if i.delete == False %}<a href="{% url 'any-master-object-deactivate' object_id=i.id object_type=6 %}" class="text_white"><i class="fa fa-close"></i></a>
                            {% else %}<a href="{% url 'any-master-object-activate' object_id=i.id object_type=6 %}" class="text_white"><i class="fa fa-check-square-o"></i></a>{% endif %}</td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
                {% if speciality_obj %}
                    <div class="text-right">
                        <ul class="pagination">
                            {% if speciality_obj.has_previous %}
                                <li class="prev"><a href="?page={{ speciality_obj.previous_page_number }}{% if search_data %}&search_data={{search_data}}{% endif %}">Prev</a></li>
                            {% endif %}
                            <li><a>Page {{ speciality_obj.number }} of {{ speciality_obj.paginator.num_pages }}</a></li>
                            {% if speciality_obj.has_next %}
                                <li class="next"><a href="?page={{ speciality_obj.next_page_number }}{% if search_data %}&search_data={{search_data}}{% endif %}">Next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                <script>
        $('#alert').fadeIn().delay(2000).fadeOut('slow');
        var elem = document.getElementById("search");
        elem.onkeyup = function (e) {
            if (e.keyCode == 13) {
                Searchspeciality_obj({{ request.user.id }})
            }
        }
    </script>

            </div>