<div class="table-responsive table_modify_for_all">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>~~Sr No~~</th>
            <th>Organisation Name</th>
            <th>City</th>
            <th>Locality</th>
            <th>Stage</th>
            <th>Current User</th>
            <th>Duplicates</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if organisation_all_data %}

            {% for i in organisation_all_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.city.name }}</td>
                    <td>{{ i.locality.name }}</td>
                    <td>{{ i.stage.stage_name }}</td>
                    <td>{{ i.current_user.username }}</td>
                    <td><a href="{% url 'view_duplicates_organisation' i.id %}" ><img src="/static/images/images/notes_warning.png" alt="Smiley face" height="20" width="20"></a></td>
                    <td>{{ i.createdAt }}</td>
                    <td>{{ i.updatedAt }}</td>
                    <td>
                        <a class="btn btn-default btn-sm p_0" href="{% url 'live-organisation-listing-edit' i.id %}"><i
                            class="fa fa-pencil-square-o fa-fw"></i></a>
                        <a class="btn btn-success btn-sm p_1"  href="{% url 'finalise_live_organisation' i.id %}">Finalise</a>
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5"><b>Organisation's Name could not be found in system...<span
                        class='fa fa-frown-o fa-lg'></span></b></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
    {% if organisation_all_data %}
        <div class="text-right">
            <ul class="pagination">
                {% if organisation_all_data.has_previous %}
                    <li class="prev"><a href="?page={{ organisation_all_data.previous_page_number }}{% if search_data_two %}&search_data_two={{search_data_two}}{% endif %}">Prev</a></li>
                {% endif %}
                <li><a>Page {{ organisation_all_data.number }} of {{ organisation_all_data.paginator.num_pages }}</a>
                </li>
                {% if organisation_all_data.has_next %}
                    <li class="next"><a href="?page={{ organisation_all_data.next_page_number }}{% if search_data_two %}&search_data_two={{search_data_two}}{% endif %}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>