{% extends 'admin/dashboard.html' %}
{% load staticfiles %}
{% block user_management %}
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} m_tb_10"
   id="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<!--Right Start-->
<div class="p_10" style="background: rgba(0,0,0,0.3);">
   <div style="padding-bottom:0;" class="border_5_light_white p_t_10">
      <div class="row m_0">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-10">
                  <div class="form-group">
                     <select class="form-control" id="stage_data">
                        <option value="">----Select Stage---</option>
                        {% for c in stage_data %}
                        <option value="{{ c.id }}">{{ c.stage_name }}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-md-2"><button type="button" class="btn btn-info" onclick="Searchnurse_bureauByPublisher($('#stage_data').val())">GO</button></div>
            </div>
         </div>

         <div class="col-md-6" style="width: 80px;" >
                <a href="#"><img   src="/static/images/images/notes_warning.png" alt="Smiley face" height="42" width="42"></a>
         </div>

         <div class="col-md-6 text-right" style="width: 350px;" >
            <button class="btn btn-success" type="button" onclick="PublishForPublisher('publish','nurse_bureau')">Publish</button>
            <button class="btn btn-danger" type="button" onclick="PublishForPublisher('un-publish','nurse_bureau')">Un publish</button>
            <button class="btn btn-warning" type="button" onclick="PublishForPublisher('publish','nurse_bureau')">Re publish</button>
         </div>
      </div>
   </div>
   <input type="hidden" value="nursebureau" id="xx" name ="yy">
   {% include 'publisher/markascomplete.html' %}
   <div class="input-group">
        <input type="text" placeholder="Search |" class="form-control" id="search" autofocus="autofocus">
        <span class="input-group-btn"> <button class="btn btn-default"
                                               onclick="SearchNurse_BureauForPublisher({{ request.user.id }})"> Search
        </button></span>
    </div>

{#   <h4 class="font_weight_600 text_white m_t_0 cursor_pointers" data-toggle="collapse" data-target="#select_filterss"><i class="fa fa-hand-o-right fa-fw"></i> Filter Criterion <span class="caret"></span> </h4>#}
{#   <div class="collapse" id="select_filterss">#}
{#      <form role="form" method="get" action="{% url 'publisher-lab-listing' %}">#}
{#         <button type="submit" class="btn btn-info btn-sm">Apply</button>#}
{#         <a href="{% url 'publisher-lab-listing' %}" class="btn btn-warning btn-sm">Reset</a>#}
{#         <div class="row m_t_10">#}
{#            <div class="col-sm-4">#}
{#               <div class="form-group">#}
{#                  <select class="chosen-select" name="category">#}
{#                     {% if not category_filter %}#}
{#                     <option value="">--Select Category--</option>#}
{#                     {% endif %}#}
{#                     {% if category_obj %}#}
{#                     {% for u in category_obj %}#}
{#                     <option value="{{ u.id }}"#}
{#                     {% if category_filter == u.id %}selected{% endif %}>{{ u.name }}</option>#}
{#                     {% endfor %}#}
{#                     {% endif %}#}
{#                  </select>#}
{#               </div>#}
{#            </div>#}
{#         </div>#}
{#      </form>#}
{#   </div>#}
   <div class="table-responsive table_modify_for_all p_tb_10">
      <table class="table table-bordered m_b_0">
         <thead class="bg_ededed">
            <tr>
               <th><input id="checkAll" type="checkbox"/></th>
               <th>Sr. No.</th>
               <th>Nurse_Bureau Name</th>
               <th>City</th>
               <th>Location</th>
               <th>Stage</th>
               <th>Current User</th>
               <th>Free Text</th><th>CreatedAt</th>
                        <th>UpdatedAt</th>
               <th>Delete</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            {% for i in nurse_bureau_obj %}
            <tr>
               <td><input type="checkbox" value="{{ i.id }}"></td>
               <td>{{ forloop.counter }}</td>
               <td>{{ i.name | capfirst }}</td>
               <td>{{ i.city.name | capfirst }}</td>
                <td>{{ i.locality.name | capfirst }}</td>
                <td>{{ i.stage.stage_name | capfirst }}</td>

                <td>{{ i.current_user.username | capfirst }}</td>
                <td>{{ i.free_text | capfirst }}</td>
                <td>{{ i.createdAt }}</td>
                            <td>{{ i.updatedAt }}</td>
                {% if i.stage_id != 5 %}<td><a class="btn btn-default btn-sm p_0" href="{% url 'time-schedule-nurse_bureau' i.id %}"><i class="fa fa-clock-o fa-fw text_333"></i></a>
                    <a class="text_white" href="{% url 'nurse_bureau-listing-edit' i.id %}?tab=1"><i
                        class="fa fa-edit"></i></a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% if nurse_bureau_obj %}
      <div class="text-right">
         <ul class="pagination">
            {% if nurse_bureau_obj.has_previous %}
            <li class="prev"><a href="?page={{ nurse_bureau_obj.previous_page_number }}{% if stage_id %}&stage_id={{ stage_id }}{% endif %}{% if search_name %}&search_name={{ search_name }}{% endif %}">Prev</a> </li>
            {% endif %}
            <li><a href="">Page {{ nurse_bureau_obj.number }} of {{ nurse_bureau_obj.paginator.num_pages }}</a> </li>
            {% if nurse_bureau_obj.has_next %}
            <li class="next"><a href="?page={{ nurse_bureau_obj.next_page_number }}{% if stage_id %}&stage_id={{ stage_id }}{% endif %}{% if search_name %}&search_name={{ search_name }}{% endif %}">Next</a> </li>
            {% endif %}
         </ul>
      </div>
      {% endif %}
   </div>
</div>
<!--Right End-->

<script>
        //$('#alert').fadeIn().delay(2000).fadeOut('slow');
        var elem = document.getElementById("search");
        elem.onkeyup = function (e) {
            if (e.keyCode == 13) {
                SearchNurse_BureauForPublisher({{ request.user.id }})
            }
        }
</script>

<script>
   $("#checkAll").change(function () {
       $("input:checkbox").prop('checked', $(this).prop("checked"));
   });
   var $rows = $('#table tr');
   $('#search').keyup(function () {
       var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
   
       $rows.show().filter(function () {
           var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
           return !~text.indexOf(val);
       }).hide();
   });
   $('#alert').fadeIn().delay(2000).fadeOut('slow');
   /**
    * publisher
     * @constructor
    */
   function PublishForPublisher(type,data_type){
       var checkedValues = $('input:checkbox:checked').map(function () {
           return this.value;
       }).get();
       var formDATA = {};
       checkedValues = (checkedValues).toString().toLowerCase().replace('on,','');
       if(checkedValues =='' || checkedValues ==null || checkedValues ==undefined){
           alert("Please select value....");
           return false;
       }
       formDATA.checkedValues = checkedValues;
       formDATA.type = type;
       formDATA.data_type = data_type;
       if (formDATA.checkedValues != '') {
           $.ajax({
               type: 'POST', url: Domain + '{% url 'data-publish' %}', data: formDATA, beforeSend: function () {
                   var text = 'Please wait....';
                   ajaxindicatorstart(text);
               },
               success: function (resData) {
                   ajaxindicatorstop();
                   resData = JSON.parse(resData);
                   if (resData.Redirect == true) {
                       alert(resData.Message);
                       window.location = resData.RedirectUrl;
                   }
                   else {
   
                       alert(resData.Message);
                       window.location.reload(true);
                   }
               },
               error: function(data){
                   alert('Something Bad Happened');
                   location.reload();
               }
           });
       }
       else
       {
           alert("Please select labs.")
       }

   }

       
</script>
{% endblock %}