
<app-article></app-article>
<app-healthoholic></app-healthoholic>


<!-- 
<div class="jumbotron">
  <div class="row">
      <div class="col">
          <fb-like url={{url}}></fb-like>
      </div>
      <div class="col">
          <google-plus url={{url}}></google-plus>
      </div>
    
      <div class="col">
          <linkedin-share url={{url}}></linkedin-share>
      </div>
      <div class="col">
          <pin-it url={{url}} media={{imageUrl}} description={{text}}></pin-it>
      </div>
  </div>
</div> -->


<app-fb-like></app-fb-like>