 <div class="table-responsive table_modify_for_all">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><input id="checkAll" type="checkbox"/></th>
                        <th>Sr No</th>
                        <th>Topic title</th>
                        <th>Posted Date</th>
                        <th>Tag String</th>
                        <th>free_text</th>
                        <th>Current User</th>
                        <th>Stage</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th class="col-md-2">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if wellness_all_data %}
                {% for d in wellness_all_data %}
                    <tr>
                    <td><input type="checkbox" value="{{ d.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ d.topic_title | capfirst }}</td>
                            <td>{{ d.posted_date }}</td>
                            <td>{{ d.tag_string | capfirst }}</td>
                            <td>{{ d.free_text | capfirst }}</td>
                            <td>{{ d.current_user.username | capfirst }}</td>
                            <td>{{ d.stage.stage_name | capfirst }}</td>
                            <td>{{ d.createdAt }}</td>
                            <td>{{ d.updatedAt }}</td>
                          <td>

                             <a class="btn btn-default btn-sm p_0" href="{% url 'edit-wellness-news' d.id %}"><i
                                    class="fa fa-pencil-square-o fa-fw"></i></a> | <a
                                    href=" {% url 'block-unblock-feed' d.id %}"
                                    class="btn btn-default btn-sm">
                                {% if d.blocked_news %}unblock {% else %}block {% endif %}</a> |
                                 <span class="p_lr_10"></span>
                                <a class="btn btn-danger btn-sm p_0"
                                href="{% url 'delete_newsfeed' d.id d.news_type_id %}"><i
                                    class="fa fa-trash-o text-danger fa-fw text_white"></i></a>

                          </td>
                {% endfor %}
                {% else %}
                    <tr>
                    <td colspan="5"><b>Wellness Feed Name could not be found in system...<span class='fa fa-frown-o fa-lg'></span></b></td>
                    </tr>
                {% endif %}
                </tbody>

            </table>
 {% if wellness_all_data %}
                <div class="text-right">
                    <ul class="pagination">
                        {% if wellness_all_data.has_previous %}
                            <li class="prev"><a href="?page={{ wellness_all_data.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        <li><a>Page {{ wellness_all_data.number }} of {{ wellness_all_data.paginator.num_pages }}</a></li>
                        {% if wellness_all_data.has_next %}
                            <li class="next"><a href="?page={{ wellness_all_data.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>