{% extends 'admin/dashboard.html' %}
{% load staticfiles %}

{% block user_management %}
    <!--Right Start-->  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} m_tb_10"
             id="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
    <div class="p_10" style="background: rgba(0,0,0,0.3);">
        Wellness Feeds
        <div style="padding-bottom:0;" class="border_5_light_white p_t_10">
            <div class="row m_0">
                <input type="hidden" value="news_user" id="type_of"/>
                <div class="col-sm-4">
                    <div class="form-group"><select class="form-control" id="stage">
                        <option>----Select Stage---</option>
                        {% for c in stage_data %}
                            <option value="{{ c.id }}">{{ c.stage_name }}</option>
                        {% endfor %}
                    </select></div>

                </div>
                <div class="col-md-4">
                    <div class="form-group"><select class="form-control" id="telecaller" name="users_data">
                        <option>---Select Users---</option>
                    </select></div>
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-info" type="button" onclick="AssignWellnessNews()">Assign</button>
                </div>
            </div>
        </div>


        <h4 class="font_weight_600 text_white m_t_0"><i class="fa fa-hand-o-right fa-fw"></i> Filter Criterion</h4>

        <form role="form" method="get" action="{% url 'get-assign-wellness-feed' %}">
            <button type="submit" class="btn btn-info btn-sm">Apply</button>
            <a href="{% url 'get-assign-wellness-feed' %}" class="btn btn-warning btn-sm">Reset</a>

            {% if doctor_data_obj %}
                <div class="text-right" style="margin-top: -61px">
                    <ul class="pagination">
                        {% if doctor_data_obj.has_previous %}
                            <li class="prev"><a onclick="add_pagination('{{ doctor_data_obj.previous_page_number }}')"
                                                href="javascript:void(0)">Prev</a></li>
                        {% endif %}
                        <li><a>Page {{ doctor_data_obj.number }} of {{ doctor_data_obj.paginator.num_pages }}</a></li>
                        {% if doctor_data_obj.has_next %}
                            <li class="next"><a onclick="add_pagination('{{ doctor_data_obj.next_page_number }}')"
                                                href="javascript:void(0)">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}


            <div class="row m_tb_10">
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="hidden" value="filter" name="x">
                        <select id="stage_da" class="chosen-select" name="stage_da">
                            {% if not stage_filter %}
                                <option value="">--Select Stage--</option>
                            {% endif %}
                            {% if stage_data %}
                                {% for s in stage_data %}
                                    <option value="{{ s.id }}"
                                            {% if stage_filter == s.id %}selected{% endif %}>{{ s.stage_name|capfirst }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="hidden" value="filter" name="x">
                        <select id="user_da" class="chosen-select" name="user_da">
                            {% if not user_filter %}
                                <option value="">--Select News Caller--</option>
                            {% endif %}
                            {% if news_caller %}
                                {% for t in news_caller %}
                                    <option value="{{ t.user_id }}"
                                            {% if news_caller_filter == t.user_id %}selected{% endif %}>{{ t.user.username|capfirst }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="hidden" value="filter" name="x">
                        <select id="user_da" class="chosen-select" name="user_rev">
                            {% if not user_filter %}
                                <option value="">--Select News Reviewer--</option>
                            {% endif %}
                            {% if news_reviewer %}
                                {% for t in news_reviewer %}
                                    <option value="{{ t.user_id }}"
                                            {% if news_reviewer_filter == t.user_id %}selected{% endif %}>{{ t.user.username|capfirst }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="hidden" value="filter" name="x">
                        <select id="user_da" class="chosen-select" name="user_pub">
                            {% if not user_filter %}
                                <option value="">--Select Publisher User--</option>
                            {% endif %}
                            {% if publisher_data %}
                                {% for t in publisher_data %}
                                    <option value="{{ t.user_id }}"
                                            {% if publisher_filter == t.user_id %}selected{% endif %}>{{ t.user.username|capfirst }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

            </div>
        </form>


        <div class="input-group">
            <input type="text" placeholder="Search |" class="form-control" id="search" autofocus="autofocus">
                    <span class="input-group-btn"> <button class="btn btn-default"
                                                           onclick="SearchWellnessNewsAssign()"> Search
                    </button></span>
        </div>
        <div style="overflow:auto; height:400px; padding: 5px 20px;">
            <div class="table-responsive table_modify_for_all p_tb_10">
                <table class="table table-bordered m_b_0">
                    <thead class="bg_ededed">
                    <tr>
                        <th><input id="checkAll" type="checkbox"/></th>
                        <th>Sr No</th>
                        <th>Topic title</th>
                        <th>Posted Date</th>
                        <th>Tag String</th>
                        <th>free_text</th>
                        <th>Current User</th>
                        <th>Stage</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th class="col-md-2">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for d in admin_news_data %}
                        <tr>
                            <td><input type="checkbox" value="{{ d.id }}"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ d.topic_title | capfirst }}</td>
                            <td>{{ d.posted_date }}</td>
                            <td>{{ d.tag_string | capfirst }}</td>
                            <td>{{ d.free_text | capfirst }}</td>
                            <td>{{ d.current_user.username | capfirst }}</td>
                            <td>{{ d.stage.stage_name | capfirst }}</td>
                            <td>{{ d.createdAt }}</td>
                            <td>{{ d.updatedAt }}</td>
                            <td><a class="btn btn-default btn-sm p_0" href="{% url 'edit-wellness-news' d.id %}"><i
                                    class="fa fa-pencil-square-o fa-fw"></i></a> | <a
                                    href=" {% url 'block-unblock-feed' d.id %}"
                                    class="btn btn-default btn-sm">
                                {% if d.blocked_news %}unblock {% else %}block {% endif %}</a> |
                                 <span class="p_lr_10"></span>
                                <a class="btn btn-danger btn-sm p_0"
                                href="{% url 'delete_newsfeed' d.id d.news_type_id %}"><i
                                    class="fa fa-trash-o text-danger fa-fw text_white"></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if admin_news_data %}
                <div class="text-right">
                    <ul class="pagination">
                        {% if admin_news_data.has_previous %}
                            <li class="prev"><a href="?page={{ admin_news_data.previous_page_number }}{% if search_data %}&search_data={{search_data}}{% endif %}">Prev</a></li>
                        {% endif %}
                        <li><a>Page {{ admin_news_data.number }} of {{ admin_news_data.paginator.num_pages }}</a></li>
                        {% if admin_news_data.has_next %}
                            <li class="next"><a href="?page={{admin_news_data.next_page_number }}{% if search_data %}&search_data={{search_data}}{% endif %}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <!--Right End-->
    <script>
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
        var $rows = $('#table tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
        String.prototype.capitalize = function () {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }

    </script>
    <script>
        $('#alert').fadeIn().delay(2000).fadeOut('slow');
        var elem = document.getElementById("search");
        elem.onkeyup = function (e) {
            if (e.keyCode == 13) {
                SearchWellnessNewsAssign()
            }
        }
    </script>
{% endblock %}