{% extends 'admin/dashboard.html' %}
{% load staticfiles %}

{% block user_management %}
<div>
<div class="row">
<div class="col-md-4 four_member">
<a class="thumbnail" href="{% url 'lab-by-users' %}">

<figure><img src="{% static 'images/lab-microscope.png' %}"></figure>
<h3>Lab by Users</h3>
</a>
</div>

<div class="col-md-4 four_member">
<a class="thumbnail" href="{% url 'lab-by-stages' %}">
<figure><img src="{% static 'images/lab-microscope.png' %}"></figure>
<h3>Lab by Stages</h3>
</a>
</div>

<div class="col-md-4 four_member">
<a class="thumbnail" href="{% url 'lab-assignment' %}">
<figure><img src="{% static 'images/lab-microscope.png' %}"></figure>
<h3>Lab Assignment </h3>
</a>
</div>


</div>

</div>
{% endblock %}