{% extends 'admin/dashboard.html' %}
{% load staticfiles %}
{% load template_tag %}

{% block user_management %}
    <!--Right Start-->
    <div class="row">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} m_tb_10"
                 id="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
{#        <div class="col-md-6"><span class="text-info font_weight_600"> {{ doctor_id|doctor_name }},</span>#}
{#            <span class="p_lr_5">{{ organisation_id|organisation_name }}</span>#}
{#        </div>#}
        <div class="col-md-6"><p class="text-right"><a href="{% url  'doctor-care-listing'  %}" class="btn btn-info">Back</a>
        </p>
        </div>
    </div>

    <fieldset >
        <div class="p_10 tb_five table_modify_for_all" style="background:rgba(0,0,0,0.3);">
            <form method="post" action=".">
                {% csrf_token %}
                <div class="tableschedule">
{#                <label class="radio-inline font_size_18 p_b_18 font_weight_700 text_white"> <input type="checkbox" onchange="valueChanged()" id="byappointment" name="by_app"> By Appointment</label>#}
                <div class="clearfix"></div>
                    <div class="left_schedule">
                        <div class="col-md-6">
                            <div class="form-group"><label>From Day</label><select
                                    name="from_day" class="form-control">
                                <option value="" selected>Select days</option>
                                {% for i in day_list %}
                                    <option value="{{ i.value }}">{{ i.label|capfirst }}</option>
                                {% endfor %}


                            </select></div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group"><label>To Day</label><select name="to_day" class="form-control">
                                <option value="" selected>Select days</option>
                                {% for i in day_list %}
                                    <option value="{{ i.value }}">{{ i.label|capfirst }}</option>
                                {% endfor %}

                            </select></div>
                        </div>
                    </div>
                    <div class="right_schedule">

                        <div class="pull-left m_r_20">
                            <label class="pull-left text_white font_weight_400">From Time</label>
                            <div class="clearfix"></div>
                            <div class="value_left">
                                <select name="start_time" class="form-control">
                                    <option class="" value="" selected>Open</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="1:00">1:00</option>
                                    <option value="1:30">1:30</option>
                                    <option value="2:00">2:00</option>
                                    <option value="2:30">2:30</option>
                                    <option value="3:00">3:00</option>
                                    <option value="3:30">3:30</option>
                                    <option value="4:00">4:00</option>
                                    <option value="4:30">4:30</option>
                                    <option value="5:00">5:00</option>
                                    <option value="5:30">5:30</option>
                                    <option value="6:00">6:00</option>
                                    <option value="6:30">6:30</option>
                                    <option value="7:00">7:00</option>
                                    <option value="7:30">7:30</option>
                                    <option value="8:00">8:00</option>
                                    <option value="8:30">8:30</option>
                                    <option value="9:00">9:00</option>
                                    <option value="9:30">9:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                </select>
                            </div>
                            <div class="value_right">
                                <select name="start_period" class="form-control">
                                    <option selected value="">Select Meridiem</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>


                        <div class="pull-left">
                            <label class="pull-left text_white font_weight_400">To Time</label>
                            <div class="clearfix"></div>
                            <div class="value_left">
                                <select name="end_time" class="form-control">
                                    <option class="" value="" selected>Open</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="1:00">1:00</option>
                                    <option value="1:30">1:30</option>
                                    <option value="2:00">2:00</option>
                                    <option value="2:30">2:30</option>
                                    <option value="3:00">3:00</option>
                                    <option value="3:30">3:30</option>
                                    <option value="4:00">4:00</option>
                                    <option value="4:30">4:30</option>
                                    <option value="5:00">5:00</option>
                                    <option value="5:30">5:30</option>
                                    <option value="6:00">6:00</option>
                                    <option value="6:30">6:30</option>
                                    <option value="7:00">7:00</option>
                                    <option value="7:30">7:30</option>
                                    <option value="8:00">8:00</option>
                                    <option value="8:30">8:30</option>
                                    <option value="9:00">9:00</option>
                                    <option value="9:30">9:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                </select>
                            </div>
                            <div class="value_right">
                                <select name="end_period" class="form-control">
                                    <option selected value="">Select Meridiem</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>

                        <div class="plus_icon">
                            <button type="button" class="remove"><i class="fa fa-minus-square"></i></button>
                            <button type="button" class="clone"><i class="fa fa-plus-square"></i></button>
                        </div>
                        <input type="hidden" id="{{ schedule_id }}" name="id">
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="text-right p_tb_10">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </form>
        {% if not by_check %}
            <table class="table table-bordered">
                <thead class="bg_ededed">
                <tr>

                    <th rowspan="2">From Days</th>
                    <th rowspan="2">To Days</th>
                    <th colspan="2">Timing</th>
                    <th rowspan="2">Action</th>

                </tr>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>


                </tr>
                </thead>
                <tbody>
                {% for i in schedule_list %}

                    <tr>
                        <td>{{ i.from_day|upper }}</td>

                        <td>{{ i.to_day|upper }}</td>
                        <td>{% for time in i.timing %}
                            {{ time.start_time }}
                            <br>
                        {% endfor %}
                        </td>
                        <td>{% for time in i.timing %}
                            {{ time.end_time }}
                            <br>
                        {% endfor %}</td>
                        <td>
                            {#                              <button class="btn btn-info btn-sm p_0" type="button"><i#}
                            {#                                    class="fa fa-edit text-danger fa-fw text_white"></i></button>#}
                            {#                            <span class="p_lr_5">|</span>#}

                            <a class="btn btn-danger btn-sm p_0"
                               href="{% url 'delete-doctor-care-schedule'%}?doctor_id={{ doctor_id }}&docschid={{ i.id }}"><i
                                    class="fa fa-trash-o text-danger fa-fw text_white"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



        {% endif %}
        {% if by_check %}
            <div>
            Doctor available By Appointment
            </div>
        {% endif %}
        </div>
    </fieldset>
    <script>
 $(document).ready(function () {
     var check = $('#byappointment');

     if ("True" === "{{ by_check }}") {
         check.attr('checked', true);
          $(".left_schedule").hide();
             $(".right_schedule").hide();
     }
     });
     var regex = /^(.+?)(\d+)$/i;
     var cloneIndex = $(".right_schedule").length;

     function clone() {
         $(this).parents(".right_schedule").clone()
                 .appendTo(".tableschedule")
                 .attr("id", "right_schedule" + cloneIndex)
                 .find("*")
                 .each(function () {
                     var id = this.id || "";
                     var match = id.match(regex) || [];
                     if (match.length == 3) {
                         this.id = match[1] + (cloneIndex);

                     }
                 })
                 .on('click', 'button.clone', clone)
                 .on('click', 'button.remove', remove);
         cloneIndex++;
     }

     function remove() {
         $(this).parents(".right_schedule").remove();
     }

     $("button.clone").on("click", clone);
     if (cloneIndex > 1) {
         $("button.remove").on("click", remove);
     }
     function valueChanged() {
         if ($('#byappointment').is(":checked")) {
             $(".left_schedule").hide();
             $(".right_schedule").hide();
         }
         else {


             $(".left_schedule").show();
             $(".right_schedule").show();
         }
     }
$('#alert').fadeIn().delay(2000).fadeOut('slow');

    </script>

    <!--Right End-->
{% endblock %}