<div class="table-responsive table_modify_for_all p_tb_10">
      <table class="table table-bordered m_b_0">
         <thead class="bg_ededed">
            <tr>
               <th><input id="checkAll" type="checkbox"/></th>
               <th>Sr. No.</th>
               <th>News Header</th>
               <th>Posted Date</th>
               <th>Current User</th>
               <th>Stage</th>
               <th>Created At</th>
               <th>Updated At</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            {% for d in publisher_data %}
            <tr>
               <td><input type="checkbox" value="{{ d.id }}"></td>
               <td>{{ forloop.counter }}</td>
               <td>{{ d.news_header|capfirst }}</td>
               <td>{{ d.posted_date}}</td>
               <td>{{ d.current_user.username|capfirst }}</td>
               <td>{{ d.stage.stage_name|capfirst }}</td>
               <td>{{ d.createdAt }}</td>
               <td>{{ d.updatedAt }}</td>
               {% if d.stage_id != 5 %}<td> <a  href ="{% url 'edit-global-news' news_id=d.id %}"><i class="fa fa-edit"></i></a></td>
            {% else %}
            <td></td>
            {% endif %}

            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% if publisher_data %}
      <div class="text-right">
         <ul class="pagination">
            {% if publisher_data.has_previous %}
            <li class="prev"><a href="?page={{ publisher_data.previous_page_number }}">Prev</a> </li>
            {% endif %}
            <li><a href="">Page {{ publisher_data.number }} of {{ publisher_data.paginator.num_pages }}</a> </li>
            {% if doctor.has_next %}
            <li class="next"><a href="?page={{ publisher_data.next_page_number }}">Next</a> </li>
            {% endif %}
         </ul>
      </div>
      {% endif %}

<script>
   $("#checkAll").change(function () {
       $("input:checkbox").prop('checked', $(this).prop("checked"));
   });
   var $rows = $('#table tr');
   $('#search').keyup(function () {
       var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

       $rows.show().filter(function () {
           var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
           return !~text.indexOf(val);
       }).hide();
   });
   $('#alert').fadeIn().delay(2000).fadeOut('slow');
   /**
    * publisher
     * @constructor
    */
   function PublishNewsForPublisher(type,data_type){
       var checkedValues = $('input:checkbox:checked').map(function () {
           return this.value;
       }).get();
       var formDATA = {};
       checkedValues = (checkedValues).toString().toLowerCase().replace('on,','');
       if(checkedValues =='' || checkedValues ==null || checkedValues ==undefined){
           alert("Please select value....");
           return false;
       }
       formDATA.checkedValues = checkedValues;
       formDATA.type = type;
       formDATA.data_type = data_type;
       if (formDATA.checkedValues != '') {
           $.ajax({
               type: 'POST', url: Domain + '{% url 'put-publish-global-feed' %}', data: formDATA, beforeSend: function () {
                   var text = 'Please wait....';
                   ajaxindicatorstart(text);
               },
               success: function (resData) {
                   ajaxindicatorstop();
                   resData = JSON.parse(resData);
                   if (resData.Redirect == true) {
                       alert(resData.Message);
                       window.location = resData.RedirectUrl;
                   }
                   else {

                       alert(resData.Message);
                       window.location.reload(true);
                   }
               },
               error: function(data){
                   alert('Something Bad Happened');
                   location.reload();
               }
           });
       }
       else
       {
           alert("Please select News.")
       }

   }
   /**
    *
    * @param type
    * @param data_type
    * @returns {boolean}
    * @constructor
    */
   function UnPublishNewsForPublisher(type,data_type){
       var checkedValues = $('input:checkbox:checked').map(function () {
           return this.value;
       }).get();
       var formDATA = {};
       checkedValues = (checkedValues).toString().toLowerCase().replace('on,','');
       if(checkedValues =='' || checkedValues ==null || checkedValues ==undefined){
           alert("Please select value....");
           return false;
       }
       formDATA.checkedValues = checkedValues;
       formDATA.type = type;
       formDATA.data_type = data_type;
       if (formDATA.checkedValues != '') {
           $.ajax({
               type: 'POST', url: Domain + '{% url 'out-publish-global-feed' %}', data: formDATA, beforeSend: function () {
                   var text = 'Please wait....';
                   ajaxindicatorstart(text);
               },
               success: function (resData) {
                   ajaxindicatorstop();
                   resData = JSON.parse(resData);
                   if (resData.Redirect == true) {
                       alert(resData.Message);
                       window.location = resData.RedirectUrl;
                   }
                   else {

                       alert(resData.Message);
                       window.location.reload(true);
                   }
               },
               error: function(data){
                   alert('Something Bad Happened');
                   location.reload();
               }
           });
       }
       else
       {
           alert("Please select News.")
       }

   }


</script>
   </div>