{% extends 'admin/dashboard.html' %}
{% load staticfiles %}

{% block user_management %}


        <div class="col-md-3 four_member">
            <a class="thumbnail" href="{% url 'home-service-providers' %}">
                <span class="label label-warning"></span>
                <figure><img src="{% static 'images/hospital.png' %}"></figure>
                <h3>Manage Providers</h3>
                <h3 class="m_t_0"></h3>
            </a>
        </div>

{#        <div class="col-md-3 four_member">#}
{#            <a class="thumbnail" href="{% url 'life-service-providers' %}">#}
{#                <span class="label label-warning"></span>#}
{#                <figure><img src="{% static 'images/hospital.png' %}"></figure>#}
{#                <h3>Life Service Providers</h3>#}
{#                <h3 class="m_t_0"></h3>#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-md-3 four_member">#}
{#            <a class="thumbnail" href="{% url 'enterprise-service-providers' %}">#}
{#                <span class="label label-warning"></span>#}
{#                <figure><img src="{% static 'images/hospital.png' %}"></figure>#}
{#                <h3>Enterprise Solution Providers</h3>#}
{#                <h3 class="m_t_0"></h3>#}
{#            </a>#}
{#        </div>#}


{% endblock %}